body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  background-color: chartreuse;
  margin-left: 17.6%;
}


.barra-lateral {
  background-color: orange;
  width: 17.6%;
  height: 100%;
  position: fixed;
}


.conteudo {
  margin-left: 17.6%;
  flex:auto;
  background-color: blueviolet;
}

.rodape {
  background-color: black;
  color: white;
  padding: 1.1%;
  text-align: center;
  align-items: flex-end;
  margin-left: 17.6%;
}