@font-face {
  font-family: 'Inter';
  src: url('./Inter/static/Inter-Light.ttf'),
  url('./Inter/static/Inter-Bold.ttf');
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  background-color: chartreuse;
  margin-left: 17.6%;
  margin-top: 0;
  align-items: center;
}


.nameapp{
  color: white;
  font-family: 'Inter', sans-serif;
  margin-left: 7px;
}




.trowandawe svg{
  margin-left: 8px;
  margin-right: 10px;
  margin-top: 8px;

}
 .perfil{
  float: right;
 }




.barra-lateral {
  background-color: black;
  width: 17.6%;
  height: 100%;
  position: fixed;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: white;
}
.barra-lateral svg{
  margin-top: 8px;
}

.barra-lateral a:hover{
  color: gray;
}

.listabarra{
    list-style: none;
    padding-left: 10px;
}

.instapp{
  display: flex;
  align-items: end;
}

.barra-lateral svg{
  margin-left: 5px;
  margin-right: 10px;
}

.barra-lateral a{
  display: flex;
  align-items: flex-end;
  color: white;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  left: 0;
  text-align: center;
}

.barra-lateral p {
  margin-left: 4px;
}





.conteudo {
  margin-left: 17.6%;
  flex:auto;
  background-color: blueviolet;
}







.rodape {
  background-color: white;
  color: black;
  margin-left: 17.6%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
}

.audioplayer{
  position: absolute;
  left: 61.2%;
  transform: translateX(-50%);
  bottom: 0;
  
}


#firstsvg{
  float: left;
  margin-top: 20px;
  margin-right: 15px;
}

#secondsvg{
  float: right;
  margin-top: 11.5px;
}

#thirdsvg{
  float: right;
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

 .usersinger {
  margin-top: 10px;
  float: left;
  margin-right: 5px;
  margin-left: 7px;
  width: 56px;
  height: 56px;
  left: 676px;
  top: calc(50% - 56px/2 - 79.5px);
  background: url(01660935289.png);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
 }

 .namesinger{
  float: left;
  font-size: small;
 }

 .namesinger p {
  margin-top: -8px; /* Ajuste a margem superior do p conforme necessário */
 }
